 
.containerImg img {
  cursor: pointer; 
  position: relative;
}
.download-icon-params {
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #124bbd;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: skewX(10deg); 
}

.containerImg:hover .download-icon-params {
  opacity: 1; 
}

.download-icon-params:hover {
  background-color: #124bbd;
  color: #fff;
}
