:root {
  --based-color: #ef9e1d;
  --primary-color: #18a037;
  --primary-color-hover: #079529;
  --primary-color-light: #9eeb47;
  --secondary-color: #89e4b5;
  --text-dark: #020617;
  --text-light: #8995a7;
  --text-light2: rgb(83, 81, 81);
  --alt-color: #c8d1df;
  --white: #ffffff;
  --max-width: 1200px;
  --maintyTsara: #000;
  --tonga: #18a037;
  --tsyTonga: #cd0000;
  --bgSecondary: #6c757d;
}

.containerContent {
  width: 100%;
  padding-block: 2rem;
  max-width: 400px;
  margin-inline: auto;
}

.containerContent h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(---text-dark);
  text-align: left;
}
.containerContent h1 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(---text-dark);
  text-align: left;
}
.containerContent form {
  display: grid;
  gap: 5px;
}
.containerContent label {
  font-size: 0.9rem;
  color: var(---text-dark);
}
.containerContent .labelInput {
  text-align: left;
}
.inputRow {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--alt-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}
.containerContent input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--maintyTsara);
  background-color: transparent;
  caret-color: var(--maintyTsara);
}

.containerContent input[type="password"] {
  font-family: "password", monospace;
  -webkit-text-security: disc; /* Masque le texte */
  ime-mode: disabled; /* Désactive les méthodes d'entrée */
}
.containerContent input::placeholder {
  color: var (--text-dark);
}
.groupPwdPlace {
  text-align: center;
}
.groupPwd {
  width: 60%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.inputPwd {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--alt-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}
.inputPwd input {
  text-align: center;
  color: var(--maintyTsara);
  width: 1.6rem; /*affichage valeur entrer in pwd 'cause: taille*/
}
.inputFP {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
}
.inputFP span {
  font-size: 0.9rem;
  color: var(--text-light);
  text-decoration: none;
  transition: 0.35;
  cursor: pointer;
}
.inputFP span:hover {
  color: var(--text-dark);
}
.containerContent button {
  max-width: 80%;
  margin-left: 10%;
  margin-block: 1rem 2rem;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}
.containerContent button:hover {
  background-color: var(--primary-color-hover);
}
.containerContent h6 {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var (--text-dark);
  text-align: center;
}

.containerContent p {
  color: var(--text-light);
  text-align: center;
}
.containerContent p span {
  text-decoration: none;
  font-weight: 600;
  color: blue;
  cursor: pointer;
}
.containerContent p span:hover {
  color: var(--primary-color-hover);
}
